#carousel {
    position: relative;

    .carousel-indicators {
        position: absolute;
        right: -80% !important;
        bottom: 15% !important;
        margin: 0;

        li {
            border-radius: 50%;
            height: 10px;
            width: 10px;
        }
    }

    .carousel-inner {
        .carousel-item {
            position: relative;
            img {
                z-index: 10;
            }
            .slide-text {
                position: absolute;
                z-index: 10;
                top: 10%;
                right: 15%;
                h1 {
                    color: $white;
                }
                a {
                    p {
                        span {
                            margin-left: 15px;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}


// Modal
.modal {
    // width: 560px;
}

//     // Media Queries
//     // Small devices (landscape phones, 576px and up)
// // @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// // @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// // @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// // @media (min-width: 1200px) { ... }


// Mobile
@media (max-width: 576px) {
    #carousel {
        height: 275px;
        .carousel-indicators {
            bottom: 5% !important;
        }
        .carousel-inner {
            height: 100%;
            .carousel-item {
                height: 100%;
                img {
                    height: 100%;
                }
                .slide-text {
                    right: 0;
                    top: 25%;
                    h1 {
                        font-size: 1.3em;
                    }
                    a {
                        p {
                            height: 40px;
                            transform: translateX(-20px);
                        }
                    }
                }
            }
        }
    }
}


// Tablets
@media (min-width: 768px) and (max-width: 992px) {
    #carousel {
        .carousel-inner {
            .carousel-item {
                position: relative;
                img {
                    height: 350px;
                }
                .slide-text {
                    top: 15%;
                    right: 5%;
                    a {
                        p {
                            img {
                                height: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}