#carousel {
    position: relative;

    .carousel-indicators {
        position: absolute;
        right: -80% !important;
        bottom: 15% !important;
        margin: 0;

        li {
            border-radius: 50%;
            height: 10px;
            width: 10px;
        }
    }

    .carousel-inner {
        .carousel-item {
            position: relative;

            img {
                z-index: 10;
            }

            .slide-text {
                position: absolute;
                z-index: 10;
                top: 10%;
                right: 15%;

                h1 {
                    color: $white;
                }

                a {
                    p {
                        img {                           
                        }
                        span {
                            margin-left: 15px;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}