#employment {
    background-image: url("../Assests/backgrounds/top-wood.png");
    background-size: cover;
    padding: 5em 0px 3.5em 0px;
    margin-top: -40px;
    border-bottom: 5px solid $white;

    h3 {
        color: $white;
    }

    a {
        display: block;
        background-color: $red;
        width: 40%;
        color: $white;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    a:hover {
        background-color: $red-hover;
        text-decoration: none;
    }
}


// Mobile Phone
@media (max-width: 767px) {
    #employment {
        h3 {
            font-size: 2rem;
        }

        a {
            display: block;
            background-color: $red;
            width: 70%;
            color: $white;
            margin-top: 25px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
        }

        a:hover {
            background-color: $red-hover;
            text-decoration: none;
        }
    }
}