#employment{
    background-image: url("../Assests/backgrounds/top-wood.png");
    background-size: cover;
    padding: 5em 0px 3.5em 0px;
    margin-top: -40px;
    border-bottom: 5px solid $white;

    h3{
        color: $white;
    }
        a{
            display: block;
            background-color: $red;
            width: 40%;
            color: $white;
            margin-top: 25px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
        }
        a:hover{
            background-color: $red-hover;
            text-decoration: none;
        }
}

//     // Media Queries
//     // Small devices (landscape phones, 576px and up)
// // @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// // @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// // @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// // @media (min-width: 1200px) { ... }

// Mobile Phone
@media (max-width: 767px) {
    #employment{          
            a{
                display: block;
                background-color: $red;
                width: 70%;
                color: $white;
                margin-top: 25px;
                margin-left: auto;
                margin-right: auto;
                padding: 10px;
            }
            a:hover{
                background-color: $red-hover;
                text-decoration: none;
            }
    }
}
