#info {
    background: rgb(35, 62, 153);
    background: -moz-linear-gradient(90deg, rgba(35, 62, 153, 1) 0%, rgba(0, 95, 205, 1) 37%, rgba(0, 128, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(35, 62, 153, 1) 0%, rgba(0, 95, 205, 1) 37%, rgba(0, 128, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(35, 62, 153, 1) 0%, rgba(0, 95, 205, 1) 37%, rgba(0, 128, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#233e99", endColorstr="#0080ff", GradientType=1);
    color: $white;
    padding: 60px 90px;
    border-bottom: 5px solid $white;

    h4{
        font-size: 1.2rem;
        font-weight: 400;
    }
    p{
        font-size: 12px;
        text-align: justify;
    }
}

//     // Media Queries
//     // Small devices (landscape phones, 576px and up)
// // @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// // @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// // @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// // @media (min-width: 1200px) { ... }

// Mobile Phone
@media (max-width: 767px) {
    #info{
        padding: 30px;
        h4{
            font-size: 1.5rem;
            text-align: center;
            padding-bottom: 15px;
        }
        p{
            font-size: 16px;
            text-align: left;
        }
    }
}

// Tablets
@media (min-width: 768px) and (max-width: 992px) {
    #info{
        padding: 30px;
        h4{
            font-size: 1.5rem;
            padding-bottom: 15px;
        }
        p{
            font-size: 14px;
            text-align: left;
        }
    }
}
