#nav-container {
    height: 120px;
    border-bottom: 20px solid $red;
    padding: 10px 0;
    position: relative;

    nav {
        display: inline;

        #nav-logo {
            margin-left: 15px;
        }

        .hamburger {
            font-size: 3rem;
            float: right;
            margin-right: 20px;

            #menu-btn {
                border: none;
                background-color: inherit;

                .fa-bars {
                    color: $gray;
                }
            }
        }
    }
}

// Bottom Section of the menu
.dropDownSection {
    background-color: $white-transparent;
    position: absolute;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    min-height: 400px;
    
    #leftSection {
        width: 50%;
        float: left;

        ul {
            list-style: none;

            li {
                // background-color: $gray;                
                margin: 10px 0px;
                text-align: left;

                button,
                a {
                    color: #fff;
                    width: 100%;
                }

                .btn {
                    position: relative;
                    background-color: $gray;
                    border-radius: 0px !important;

                    i {
                        height: 100%;
                        position: absolute;
                        width: 100%;
                        left: 0;
                        top: 0;
                        padding-left: 85%;
                        padding-top: 4%;
                        z-index: 100;
                    }
                }

                .btn:focus {
                    outline: 0;
                }

                .sub-menu {
                    background-color: $white-background;
                    padding-left: 20px;

                    li {
                        background-color: transparent;

                        a {
                            color: $gray;
                            background-color: transparent;
                            font-weight: 500;
                        }

                        a:hover {
                            color: $red;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        #left-half {
            width: 50%;
            float: left;
        }

        #right-half {
            width: 50%;
            float: right;
        }
    }

    // right half of the dropdown menu
    #rightSection {
        width: 40%;
        float: right;
        padding-top: 20px;
        margin-top: 30px;
        padding-left: 5%;

        .search-section {
            form {
                .dropDownSearch {
                    width: 80%;
                    border-bottom: 3px $gray solid;
                    padding-bottom: 5px;

                    input {
                        border: none !important;
                        width: 80%;
                        background-color: inherit;
                        color: $red;
                        font-weight: 500;
                        font-size: 1.2em;
                    }

                    input:focus {
                        outline: 0;
                    }
                }
            }
        }

        .social-links {
            ul {
                padding: 20px 0px;
                margin-top: 20px;

                li {
                    display: inline;
                    margin: 0px 5%;

                    i {
                        color: $gray;
                        font-size: 1.5em;
                    }

                    i:hover {
                        color: $red;
                    }
                }
            }
        }
    }
}

// javascript envoked classes
.red {
    background-color: $red !important;
}

//     // Media Queries
//     // Small devices (landscape phones, 576px and up)
// // @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// // @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// // @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// // @media (min-width: 1200px) { ... }

// Mobile Phone
@media (max-width: 767px) {
    #nav-container {
        height: 100px;

        nav {
            #nav-logo {
                margin-left: 15px;
                height: 50px;
                margin-top: 10px;
            }

            .hamburger {
                padding: 0;
                margin-top: -10px;
            }
        }
    }

    // drop down section
    .dropDownSection {
        width: 100%;
        min-height: 100vh;
        padding-top: 10vh;

        #leftSection {
            width: 100%;
            float: left;

            ul {
                padding-left: 15px;

                li {

                    button,
                    a {
                        font-size: 14px;
                        text-align: left;
                    }

                    .btn {
                        width: 90%;
                    }
                }
            }
        }

        // right half of the dropdown menu
        #rightSection {
            width: 100%;
            float: left;
            padding-left: 12.5%;

            .search-section {
                form {
                    .dropDownSearch {
                        width: 80%;
                        border-bottom: 3px $gray solid;
                        padding-bottom: 5px;
                    }
                }
            }

            .social-links {
                ul {
                    padding: 20px 0px;
                    margin-top: 20px;

                    li {
                        display: inline;
                        margin: 0px 5%;
                        padding-left: 8%;
                    }
                }
            }
        }
    }

    // end mobile
}

// Tablets
@media (min-width: 768px) and (max-width: 992px){
    .dropDownSection {       
        width: 100%;    
        #leftSection {
            width: 60%;
            float: left;                       
        }    
    }
// end tablets    
}