#people-container{
    background-image: url("../Assests/backgrounds/paint-swash-bg.png");
    background-size: cover;
    min-height: 400px;    
    padding: 7% 0px 5% 0px;
    margin-top: -5%;
    z-index: 1000;
    position: relative;
    width: 100%;
    
}