#sponsors{
    background-image: url("../Assests/backgrounds/bottom-wood.png");
    background-size: cover;
    border-bottom: 5px solid $white;
    padding: 6rem 0px 4rem 0px;
    .row{
        p{
        }
        ul{
            li{
                img{
                    height: 80px;
                }
            }
        }
        p{
            margin-top: 20px;
            color: $white;
            a{
                color: $white;
            }
        }
    }
    #chaplain-logo{
        height: 220px;
        margin-left: -50px;
    }
}

//     // Media Queries
//     // Small devices (landscape phones, 576px and up)
// // @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// // @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// // @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// // @media (min-width: 1200px) { ... }

// Mobile Phone
@media (max-width: 767px) {}