#nav-container {
  height: 120px;
  border-bottom: 20px solid #c30300;
  padding: 10px 0;
  position: relative; }
  #nav-container nav {
    display: inline; }
    #nav-container nav #nav-logo {
      margin-left: 15px; }
    #nav-container nav .hamburger {
      font-size: 3rem;
      float: right;
      margin-right: 20px; }
      #nav-container nav .hamburger #menu-btn {
        border: none;
        background-color: inherit; }
        #nav-container nav .hamburger #menu-btn .fa-bars {
          color: #545454; }

.dropDownSection {
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  min-height: 400px; }
  .dropDownSection #leftSection {
    width: 50%;
    float: left; }
    .dropDownSection #leftSection ul {
      list-style: none; }
      .dropDownSection #leftSection ul li {
        margin: 10px 0px;
        text-align: left; }
        .dropDownSection #leftSection ul li button,
        .dropDownSection #leftSection ul li a {
          color: #fff;
          width: 100%; }
        .dropDownSection #leftSection ul li .btn {
          position: relative;
          background-color: #545454;
          border-radius: 0px !important; }
          .dropDownSection #leftSection ul li .btn i {
            height: 100%;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            padding-left: 85%;
            padding-top: 4%;
            z-index: 100; }
        .dropDownSection #leftSection ul li .btn:focus {
          outline: 0; }
        .dropDownSection #leftSection ul li .sub-menu {
          background-color: #f7f7f7;
          padding-left: 20px; }
          .dropDownSection #leftSection ul li .sub-menu li {
            background-color: transparent; }
            .dropDownSection #leftSection ul li .sub-menu li a {
              color: #545454;
              background-color: transparent;
              font-weight: 500; }
            .dropDownSection #leftSection ul li .sub-menu li a:hover {
              color: #c30300;
              text-decoration: none; }
    .dropDownSection #leftSection #left-half {
      width: 50%;
      float: left; }
    .dropDownSection #leftSection #right-half {
      width: 50%;
      float: right; }
  .dropDownSection #rightSection {
    width: 40%;
    float: right;
    padding-top: 20px;
    margin-top: 30px;
    padding-left: 5%; }
    .dropDownSection #rightSection .search-section form .dropDownSearch {
      width: 80%;
      border-bottom: 3px #545454 solid;
      padding-bottom: 5px; }
      .dropDownSection #rightSection .search-section form .dropDownSearch input {
        border: none !important;
        width: 80%;
        background-color: inherit;
        color: #c30300;
        font-weight: 500;
        font-size: 1.2em; }
      .dropDownSection #rightSection .search-section form .dropDownSearch input:focus {
        outline: 0; }
    .dropDownSection #rightSection .social-links ul {
      padding: 20px 0px;
      margin-top: 20px; }
      .dropDownSection #rightSection .social-links ul li {
        display: inline;
        margin: 0px 5%; }
        .dropDownSection #rightSection .social-links ul li i {
          color: #545454;
          font-size: 1.5em; }
        .dropDownSection #rightSection .social-links ul li i:hover {
          color: #c30300; }

.red {
  background-color: #c30300 !important; }

@media (max-width: 767px) {
  #nav-container {
    height: 100px; }
    #nav-container nav #nav-logo {
      margin-left: 15px;
      height: 50px;
      margin-top: 10px; }
    #nav-container nav .hamburger {
      padding: 0;
      margin-top: -10px; }
  .dropDownSection {
    width: 100%;
    min-height: 100vh;
    padding-top: 10vh; }
    .dropDownSection #leftSection {
      width: 100%;
      float: left; }
      .dropDownSection #leftSection ul {
        padding-left: 15px; }
        .dropDownSection #leftSection ul li button,
        .dropDownSection #leftSection ul li a {
          font-size: 14px;
          text-align: left; }
        .dropDownSection #leftSection ul li .btn {
          width: 90%; }
    .dropDownSection #rightSection {
      width: 100%;
      float: left;
      padding-left: 12.5%; }
      .dropDownSection #rightSection .search-section form .dropDownSearch {
        width: 80%;
        border-bottom: 3px #545454 solid;
        padding-bottom: 5px; }
      .dropDownSection #rightSection .social-links ul {
        padding: 20px 0px;
        margin-top: 20px; }
        .dropDownSection #rightSection .social-links ul li {
          display: inline;
          margin: 0px 5%;
          padding-left: 8%; } }

@media (min-width: 768px) and (max-width: 992px) {
  .dropDownSection {
    width: 100%; }
    .dropDownSection #leftSection {
      width: 60%;
      float: left; } }

#carousel {
  position: relative; }
  #carousel .carousel-indicators {
    position: absolute;
    right: -80% !important;
    bottom: 15% !important;
    margin: 0; }
    #carousel .carousel-indicators li {
      border-radius: 50%;
      height: 10px;
      width: 10px; }
  #carousel .carousel-inner .carousel-item {
    position: relative; }
    #carousel .carousel-inner .carousel-item img {
      z-index: 10; }
    #carousel .carousel-inner .carousel-item .slide-text {
      position: absolute;
      z-index: 10;
      top: 10%;
      right: 15%; }
      #carousel .carousel-inner .carousel-item .slide-text h1 {
        color: #ffffff; }
      #carousel .carousel-inner .carousel-item .slide-text a p span {
        margin-left: 15px;
        color: #ffffff; }

@media (max-width: 576px) {
  #carousel {
    height: 275px; }
    #carousel .carousel-indicators {
      bottom: 5% !important; }
    #carousel .carousel-inner {
      height: 100%; }
      #carousel .carousel-inner .carousel-item {
        height: 100%; }
        #carousel .carousel-inner .carousel-item img {
          height: 100%; }
        #carousel .carousel-inner .carousel-item .slide-text {
          right: 0;
          top: 25%; }
          #carousel .carousel-inner .carousel-item .slide-text h1 {
            font-size: 1.3em; }
          #carousel .carousel-inner .carousel-item .slide-text a p {
            height: 40px;
            transform: translateX(-20px); } }

@media (min-width: 768px) and (max-width: 992px) {
  #carousel .carousel-inner .carousel-item {
    position: relative; }
    #carousel .carousel-inner .carousel-item img {
      height: 350px; }
    #carousel .carousel-inner .carousel-item .slide-text {
      top: 15%;
      right: 5%; }
      #carousel .carousel-inner .carousel-item .slide-text a p img {
        height: 60px; } }

#people-container {
  background-image: url("../Assests/backgrounds/paint-swash-bg.png");
  background-size: cover;
  min-height: 400px;
  padding: 7% 0px 5% 0px;
  margin-top: -5%;
  z-index: 100;
  position: relative;
  width: 100%; }
  #people-container .card {
    width: 18rem;
    background-size: cover;
    height: 350px;
    border: 0px !important;
    border-radius: 0px !important; }
    #people-container .card .card-body {
      position: absolute;
      bottom: 0;
      background: rgba(25, 25, 25, 0.6);
      width: 100%;
      height: 40%;
      display: flex;
      flex-direction: column;
      padding: 0 !important;
      z-index: 1; }
      #people-container .card .card-body a {
        height: 100%;
        padding: 1.25rem;
        z-index: 100; }
        #people-container .card .card-body a h4 {
          color: #ffffff;
          font-size: 1.75em;
          margin-top: -15px;
          text-align: center; }
        #people-container .card .card-body a p {
          color: #ffffff;
          text-align: center; }
          #people-container .card .card-body a p img {
            margin-left: 10px; }
      #people-container .card .card-body a:hover {
        text-decoration: none;
        transform: scale(1.1); }
  #people-container #left-card {
    background-image: url("../Assests/people/lady-left.png"); }
  #people-container #middle-card {
    background-image: url("../Assests/people/man-middle.png"); }
  #people-container #right-card {
    background-image: url("../Assests/people/man-right.png"); }

@media (max-width: 767px) {
  #people-container #white-wrapper {
    padding: 20px 0px; }
    #people-container #white-wrapper .card-container {
      padding: 20px 0px; }
      #people-container #white-wrapper .card-container .card {
        border: 1px !important;
        border-radius: 10px !important;
        overflow: hidden; } }

@media (min-width: 768px) and (max-width: 992px) {
  #people-container #white-wrapper .card-container .card {
    width: 13rem;
    border: 1px !important;
    border-radius: 10px !important;
    overflow: hidden;
    background-position: center; }
    #people-container #white-wrapper .card-container .card .card-body a h4 {
      color: #ffffff;
      font-size: 1.2em;
      margin-top: -5px; }
    #people-container #white-wrapper .card-container .card .card-body a p img {
      margin-left: 10px; } }

#employment {
  background-image: url("../Assests/backgrounds/top-wood.png");
  background-size: cover;
  padding: 5em 0px 3.5em 0px;
  margin-top: -40px;
  border-bottom: 5px solid #ffffff; }
  #employment h3 {
    color: #ffffff; }
  #employment a {
    display: block;
    background-color: #c30300;
    width: 40%;
    color: #ffffff;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; }
  #employment a:hover {
    background-color: #c73835;
    text-decoration: none; }

@media (max-width: 767px) {
  #employment a {
    display: block;
    background-color: #c30300;
    width: 70%;
    color: #ffffff;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px; }
  #employment a:hover {
    background-color: #c73835;
    text-decoration: none; } }

#info {
  background: #233e99;
  background: -moz-linear-gradient(90deg, #233e99 0%, #005fcd 37%, #0080ff 100%);
  background: -webkit-linear-gradient(90deg, #233e99 0%, #005fcd 37%, #0080ff 100%);
  background: linear-gradient(90deg, #233e99 0%, #005fcd 37%, #0080ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#233e99", endColorstr="#0080ff", GradientType=1);
  color: #ffffff;
  padding: 60px 90px;
  border-bottom: 5px solid #ffffff; }
  #info h4 {
    font-size: 1.2rem;
    font-weight: 400; }
  #info p {
    font-size: 12px;
    text-align: justify; }

@media (max-width: 767px) {
  #info {
    padding: 30px; }
    #info h4 {
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 15px; }
    #info p {
      font-size: 16px;
      text-align: left; } }

@media (min-width: 768px) and (max-width: 992px) {
  #info {
    padding: 30px; }
    #info h4 {
      font-size: 1.5rem;
      padding-bottom: 15px; }
    #info p {
      font-size: 14px;
      text-align: left; } }

#sponsors {
  background-image: url("../Assests/backgrounds/bottom-wood.png");
  background-size: cover;
  border-bottom: 5px solid #ffffff;
  padding: 6rem 0px 4rem 0px; }
  #sponsors .row ul li img {
    height: 80px; }
  #sponsors .row p {
    margin-top: 20px;
    color: #ffffff; }
    #sponsors .row p a {
      color: #ffffff; }
  #sponsors #chaplain-logo {
    height: 220px;
    margin-left: -50px; }

html, body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden; }

body {
  background-color: #d9ddd9;
  position: relative; }

#main-container {
  padding: 0 !important;
  position: relative; }
